<h1>Dê seu feedback sobre <%= @application.worker.full_name %></h1>
<p>Escreva comentários sobre a pessoa e dê uma nota de 1 a 5</p>
<div>
    <% if @worker_feedback.errors.any? %>
        <ul>
            <% @worker_feedback.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    <% end %>
</div>
<%= form_with model: @worker_feedback, url: application_worker_feedbacks_path(@application) do |f| %>
    <div>
        <p><%= f.label :comment, 'Comentários:' %></p>
        <%= f.text_field :comment %>
    </div>
    <div>
        <p><%= f.label :rate, 'Nota:' %></p>
        <%= f.number_field :rate %>
    </div>
    <div>
        <%= f.submit 'Enviar' %>
    </div>
<% end %>