<div><h1>Informações do projeto:</h1></div>
<% if @job.Finalizado? %>
    <div><p>Projeto finalizado! Avalie as pessoas que trabalharam no projeto clicando em seus nomes.</p></div>
<% end %>
<div>
    <p>Título: <%= @job.title %></p>
    <p>Descrição: <%= @job.description %></p>
    <p>Habilidades exigidas: <%= @job.skills %></p>
    <p>Pagamento por hora: <%= number_to_currency(@job.payment) %></p>
    <p>Data limite para proposta: <%= l @job.deadline, format: :simple %></p>
    <% if @job.in_person? %>
        <p>Trabalho presencial</p>
    <% else %>
        <p>Trabalho remoto</p>
    <% end %>
    <p>Situação: <%= @job.status %></p>
</div>
<% if worker_signed_in? %>
    <div>
        <% if @application.errors.any? %>
            <ul>
                <% @application.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div>
        <h2>Envie sua proposta</h2>
        <%= form_with model: @application, url: job_applications_path(@job) do |f| %>
            <div>
                <p><%= f.label :description, 'Conte sua experiência sobre o assunto' %></p>
                <%= f.text_field :description %>
            </div>
            <div>
                <p><%= f.label :time_per_week, 'Horas de trabalho semanais' %></p>
                <%= f.text_field :time_per_week %>
            </div>
            <div>
                <p><%= f.label :payment, 'Valor por hora de trabalho' %></p>
                <%= f.text_field :payment %>
            </div>
            <div>
                <p><%= f.label :expected_deadline, 'Previsão de entrega' %></p>
                <%= f.date_field :expected_deadline %>
            </div>
            <div>
                <%= f.submit 'Enviar' %>
            </div>
        <% end %>
    </div>
<% end %>

<% if user_signed_in? && @job.user == current_user %>
    <div>
        <% @job.applications.each do |applies| %>
            <% if @job.Finalizado? && applies.Aceita? %>
                <p>Proposta de: <%= link_to applies.worker.full_name, new_application_worker_feedback_path(applies) %></p>
            <% elsif %>
                <p>Proposta de: <%= applies.worker.full_name %></p>
            <% end %>
            <dl>
                <dt>Experiências: <%= applies.description %></dt><dd></dd>
                <dt>Valor da hora trabalhada: <%= number_to_currency(applies.payment) %></dt><dd></dd>
                <dt>Dedicação semanal: <%= applies.time_per_week %> horas</dt><dd></dd>
                <dt>Prazo de entrega estimado: <%= l applies.expected_deadline, format: :simple %></dt><dd></dd>
                <dt>Situação: <%= applies.status %></dt>
            </dl>
            <% if applies.Pendente? %>
                <%= link_to 'Aceitar proposta', accept_application_path(applies.id), method: :post %>
                <%= link_to 'Recusar proposta', refuse_application_path(applies.id), method: :post %>
            <% end %>
        <% end %>
        <% if @job.Contratando? %>
            <%= link_to 'Encerrar contratações', finish_hiring_job_path(@job.id), method: :post %>
        <% elsif @job.Executando? %>
            <%= link_to 'Finalizar projeto', finish_project_job_path(@job.id), method: :post %>
        <% end %>
    </div>
<% end %>
