<div style="margin: 50px"><h1>Informações do projeto:</h1></div>
<div style="background-color: #252540; font-size: 20px">
    <%= link_to 'Ver todos os projeto', job_list_path %>
</div>
<% if @job.Finalizado? %>
    <% if user_signed_in? && @job.user == current_user %>
        <div><p style="background-color: darkkhaki; font-size: 20px; text-align: center; color: black">Projeto finalizado! Avalie as pessoas que trabalharam no projeto clicando em seus nomes na lista de propostas.</p></div>
    <% elsif worker_signed_in? %>
        <% @job.applications.each do |applies| %>
            <% if current_worker == applies.worker %>
                <div><p>Projeto finalizado! <%= link_to 'Avalie o contratante clicando aqui', new_job_user_feedback_path(@job) %>.</p></div>
            <% end %>
        <% end %>
    <% end %>
<% elsif @job.Contratando? %>
    <% if worker_signed_in? %>
        <% @job.applications.each do |applies| %>
            <% if current_worker == applies.worker %>
                <div style="font-size: 20px; margin: 15px"><p>Você já enviou uma proposta! <%= link_to 'Clique aqui para cancelar', application_path(applies), method: :delete %>.</p></div>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<div style="margin: 30px; max-width: 50%">
    <H2 style="font-size: 25px; margin: 25px">Título: <%= @job.title %></H2>
    <dl>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Contratante: </dt><dd style="margin: 10px"><%= @job.user.email %></dd>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Descrição: </dt><dd style="margin: 10px"><%= @job.description %></dd>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Habilidades exigidas: </dt><dd style="margin: 10px"><%= @job.skills %></dd>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Pagamento por hora: </dt><dd style="margin: 10px"><%= number_to_currency(@job.payment) %></dd>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Data limite para proposta: </dt><dd style="margin: 10px"><%= l @job.deadline, format: :simple %></dd>
        <% if @job.in_person? %>
            <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Trabalho presencial</dt>
        <% else %>
            <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Trabalho remoto</dt>
        <% end %>
        <dt style="font-size: 18px; margin: 25px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Situação: </dt><dd style="margin: 10px"><%= @job.status %></dd>
    </dl>
</div>

<% if user_signed_in? && @job.user == current_user %>
    <div id="team_list">
        <h3 style="font-size: 25px; margin: 25px; margin-bottom: 0px; border-top-style: solid; border-top-color: #FFF; border-top-width: 1px">Veja o time de profissionais:</h3>
        <p>clique em seus nomes para visualizar o perfil completo</p>
            <% @job.applications.each do |applies| %>
                <% if applies.Aceita? %>
                    <p><%= link_to applies.worker.social_name, worker_path(applies.worker) %></p>
                <% end %>
            <% end %>
    </div>
<% end %>
<% if worker_signed_in? %>
    <% @job.applications.each do |applies| %>
        <% if applies.Aceita? && current_worker == applies.worker %>
            <div id="team_list">
            <h3 style="font-size: 25px; margin: 25px; margin-bottom: 0px; border-top-style: solid; border-top-color: #FFF; border-top-width: 1px">Veja o time de profissionais:</h3>
            <% @job.applications.each do |applies| %>
                <% if applies.Aceita? %>
                <p><%= link_to applies.worker.social_name, worker_path(applies.worker) %></p>
                <% end %>
            <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>

<% if worker_signed_in? && @application != nil && @job.Contratando? %>
    <div>
        <% if @application.errors.any? %>
            <ul>
                <% @application.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div>
        <% if current_worker.social_name.present? && current_worker.full_name.present? && current_worker.birth_date.present? && current_worker.description.present? && current_worker.education.present? && current_worker.experience.present? %>
            <h3 style="font-size: 25px; margin: 25px; border-top-style: solid; border-top-color: #FFF; border-top-width: 1px">Envie sua proposta</h3>
            <%= form_with model: @application, url: job_applications_path(@job) do |f| %>
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px"><%= f.label :description, 'Conte sua experiência sobre o assunto' %></p>
                    <%= f.text_field :description %>
                </div>
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px"><%= f.label :time_per_week, 'Horas de trabalho semanais' %></p>
                    <%= f.text_field :time_per_week %>
                </div>
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px"><%= f.label :payment, 'Valor por hora de trabalho' %></p>
                    <%= f.text_field :payment %>
                </div>
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px"><%= f.label :expected_deadline, 'Previsão de entrega' %></p>
                    <%= f.date_field :expected_deadline %>
                </div>
                <div>
                    <%= f.submit 'Enviar' %>
                </div>
            <% end %>
        <% else %>
            <p>Complete seu perfil para enviar propostas: <%= link_to 'completar perfil.', edit_worker_path(current_worker) %></p>
        <% end %>
    </div>
<% end %>

<% if user_signed_in? && @job.user == current_user %>
    <h3 style="font-size: 25px; margin: 25px; border-top-style: solid; border-top-color: #FFF; border-top-width: 1px">Todas as propostas:</h3>
    <div id="job_applications" style="margin: 30px; max-width: 50%">
        <% @job.applications.each do |applies| %>
            <% if @job.Finalizado? && applies.Aceita? %>
                <p style="font-size: 20px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Proposta de: <%= link_to applies.worker.social_name, new_application_worker_feedback_path(applies) %></p>
            <% elsif %>
                <p style="font-size: 20px; border-top-style: solid; border-top-color: #888888; border-top-width: 1px">Proposta de: <%= applies.worker.social_name %></p>
            <% end %>
            <ul style="list-style-type:none">
                <li>Experiências: <%= applies.description %></li>
                <li>Valor da hora trabalhada: <%= number_to_currency(applies.payment) %></li>
                <li>Dedicação semanal: <%= applies.time_per_week %> horas</li>
                <li>Prazo de entrega estimado: <%= l applies.expected_deadline, format: :simple %></li>
                <li>Situação: <%= applies.status %></li>
            </ul>
            <% if applies.Pendente? %>
                <%= link_to 'Aceitar proposta', accept_application_path(applies.id), method: :post %>
                <%= link_to 'Recusar proposta', refuse_application_path(applies.id), method: :post %>
            <% end %>
        <% end %>
        <% if @job.Contratando? %>
            <p style="font-size: 20px"><%= link_to 'Encerrar contratações', finish_hiring_job_path(@job.id), method: :post %></p>
        <% elsif @job.Executando? %>
            <p style="font-size: 20px"><%= link_to 'Finalizar projeto', finish_project_job_path(@job.id), method: :post %></p>
        <% end %>
    </div>
<% end %>