<div>
    <h1 style="margin: 50px; text-align: center; font-size: 70px">Freelancers</h1>
    <p style="margin: auto; text-align: center; font-size: 30px">Boas vindas ao sistema de contratação de freelancers!</p>
</div>
<div style="text-align: center; font-size: 25px">
    <p><%= link_to 'Encontre projetos', job_list_path %></p>
    <p><%= link_to 'Encontre profissionais', worker_list_path %></p>
    <% if user_signed_in? %>
        <p><%= link_to 'Cadastre um projeto', new_job_path  %></p>
        <p><%= link_to 'Veja seus projetos', my_jobs_jobs_path  %></p>
    <% elsif worker_signed_in? %>
        <p><%= link_to 'Projetos que participo', accepted_jobs_jobs_path %></p>
    <% end %>
</div>