<div style="margin:50px"><h1>Perfil de <%= @worker.social_name %></h1></div>
<div>
    <div>
        <p>Descrição: <%= @worker.description %></p>
    </div>
    <div>
        <p>Formação: <%= @worker.education %></p>
    </div>
    <div>
        <p>Experiência: <%= @worker.experience %></p>
    </div>
    <div>
        <p>Data de nascimento: <%= @worker.birth_date %></p>
    </div>
    <div style="margin:10px">
        <p>Contato: <%= @worker.email %></p>
    </div>
    <div style="margin:25px; font-size:20px">
        <%= link_to 'Lista de feedbacks', worker_feedback_list_worker_path(@worker) %>
    </div>
    <div style="margin:25px; font-size:20px">
        <%= link_to 'Adicionar aos favoritos', add_worker_favorited_worker_path(@worker), method: :post %>
    </div>
</div>
<div style="margin:25px; font-size:20px">
    <%= link_to 'Ver todos os freelancers', worker_list_path %>
</div>